.login-logo a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-logo a img {
    width: 72px;
    height: 72px;
}

.brand-link {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0.4rem 0.5rem;
}

.brand-text {
    font-size: 1.0rem !important;
}

.brand-text b, .brand-text small {
    display: block;
}

.table {
    font-size: 14px !important;
}

.page-loader-wrapper {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(141 141 141 / 53%);
    overflow: hidden;
    text-align: center;
}

.page-loader-wrapper .loader {
    position: relative;
    top: calc(50% - 30px);
}

.card-header {
    font-weight: bold;
}

.carousel-wrapper {
    width: 100%;
    text-align: center;
}

.carousel {
    width: 90%;
    margin: 0px auto;
}

.carousel .carousel-item {
    width: 100%;
    height: 300px;
}

.carousel .carousel-item .carousel-caption {
    bottom: -20px;
}

.carousel .carousel-item .carousel-caption h3 {
    margin-bottom: 0;
}

.slick-slide {
    margin: 10px;
}

.slick-slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 2px solid #fff;
}

.carousel-wrapper .slick-dots li button:before {
    font-size: 20px;
    color: #3c8dbc;
}

.carousel-wrapper .slick-prev:before, .carousel-wrapper .slick-next:before {
    font-size: 20px;
    color: #3c8dbc;
}

.preview-image img {
    width: 100%;
    height: 90px;
    object-fit: cover;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: unset !important;
}

.logo-custom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    padding-left: 15px;
}

.logo-custom__logo img {
    width: 48px;
    height: auto;
}

.logo-custom__title h3 {
    line-height: 0.8em;
    margin-bottom: 3px;
}

.logo-custom__title h5 {
    font-size: 1em;
    font-weight: normal;
    padding-left: 1.5px;
}

@media screen and (max-width: 426px) {
    .logo-custom {
        display: none;
    }
}